
.post_container {
    margin-bottom: 30px;
    border: 1px solid greenyellow;
    padding-top: 4px;
    padding-left: 5px;
}

.creator_info {
    margin-left: 10px;
}

.user_image {
    height: 60px;
    width: 60px;
}

.content_title {
    margin-left: 10px;
}
div.content_post {
    display: block;
    width: 80%;
}